# Cartelle generate da Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset importati automaticamente
/[Aa]ssets/[Aa]ssetStoreTools*
/[Aa]ssets/[Pp]lugins/[Ee]ditor/JetBrains*

# File di progetto di IDE
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Build dei player
*.apk
*.aab
*.unitypackage
*.app

# Crash report
sysinfo.txt
crashlytics-build.properties

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
